.button{
    background: #cd1919;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid transparent;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  
    &:hover{
      background-color: white;
      color: #cd1919;
      border: 1px solid black;
    }
  }

  .buttonDisabled{
    background: #8b1212;
    color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid transparent;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }