.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    font-size: 14px;
    font-weight: 200;
  }

  input {
    color: black;
    padding: 0.6rem 1rem;
    background-color: white;
    border: 0.5px solid #252525;
    font-size: 14px;
    border-radius: 20px;
    transition-duration: 0.3s;
    outline: 0.5px solid transparent;

    &:focus {
      outline: 1.5px solid black;
      color: black;
    }

    &::placeholder{
      color: #646464
    }
  }
}

.submitButton{
  margin-top: 1rem;
  width: 60%;
  background: #cd1919;
  color: white;
  text-align: center;
  font-weight: 200;
  border-radius: 25px;
  padding: .4rem 0;
  border: 1px solid transparent;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    background-color: white;
    color: #cd1919;
    border: 1px solid black;
  }
}

.submitButtonEnabled{
  margin-top: 1rem;
  width: 60%;
  background: #cd1919;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
  padding: .4rem 0;
  border: 1px solid transparent;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    background-color: white;
    color: #cd1919;
    border: 1px solid black;
  }
}

.submitButtonDisabled{
  margin-top: 1rem;
  width: 60%;
  background: #8b1212;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 25px;
  padding: .4rem 0;
  border: 1px solid transparent;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}